{% extends 'base.html' %}

{% block content %}
<div class="card card-signup">
    <h5 class="card-header info-color white-text text-center py-4">
        <strong>Success</strong>
    </h5>
    <div class="card-body px-lg-5 pt-0">
        <div class="form-row">
            <div class="col">
                <div class="md-form">
                    <p>
                        Your password has been set. You may go ahead and <a href="{% url 'login' %}">sign in</a> now.
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}