{% extends 'base.html' %}

{% block content %}
  {% if validlink %}
<div class="card card-signup">
  <h5 class="card-header info-color white-text text-center py-4">
        <strong>Reset your password</strong>
  </h5>
  <div class="card-body px-lg-5 pt-0">
    <form class="text-center" style="color: #757575;" method="post">
        <div class="form-row">
        <div class="col">
          <div class="md-form" style="text-align:left">
            {% csrf_token %}
            {{ form.as_p }}
            <div style="text-align:center">
              <button class="btn btn-primary" type="submit">Submit</button>
            </div>
          </div>
        </div>
      </div>
  </form>
  </div>
</div>
  {% else %}
    <p>
      The password reset link was invalid, possibly because it has already been used.
      Please request a new password reset.
    </p>
  {% endif %}
{% endblock %}