{% extends 'base.html' %}

{% block content %}
<div class="card card-signup">
  <h5 class="card-header info-color white-text text-center py-4">
        <strong>Reset your password</strong>
  </h5>
  <div class="card-body px-lg-5 pt-0">
    <form class="text-center" style="color: #757575;" method="post">
        <div class="form-row">
        <div class="col">
          <div class="md-form">
            {% csrf_token %}
            {{ form.as_p }}
            <button class="btn btn-primary"  type="submit">Submit</button>
          </div>
        </div>
      </div>
  </form>
  </div>
</div>
{% endblock %}